* {
	margin: 0;
	padding: 0;
}
a{
text-decoration:none;
color:#000;
}
body{
font: 50px Eccentric Std, Arial, sans-serif;
background:#000;
background-image : url(./scroll.jpg);
   background-position : top center;
   background-repeat : no-repeat;
   min-height:1000px;
}
.scroll{
min-width:1000px;
min-height:938px;
  height:auto !important;
  height:1000px;
}
.registrationbtn{
width:250px;
text-shadow: 0 0 5px #452200;
display:block;
position:relative;
top:300;
-o-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease;
}
.registrationbtn:hover{color:#ffffff;}
.downloadbtn{
width:200px;
text-shadow: 0 0 5px #452200;
display:block;
position:relative;
top:300;
-o-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease;
}
.downloadbtn:hover{color:#ffffff;}
.forumbtn{
width:150px;
text-shadow: 0 0 5px #452200;
display:block;
position:relative;
top:300;
-o-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease;
}
.forumbtn:hover{color:#ffffff;}
.serverstatuslbl{
display:block;
position:relative;
top:370;
left:220;
}
.playersonlinelbl{
display:block;
position:relative;
top:350;
left:220;
}